<strong>Hi, {{ deliverymanName }}</strong>
<p>You have a new delivery!</p>
<p>Check the informations information below:</p>
<p>
    <strong>Recipient name: </strong> {{ recipientName }} <br />
    <strong>Recipient address:</strong>
    <p>{{ recipientNumber }}, {{ recipientStreet }}</p>
    <p>{{ recipientCity }}, {{ recipientPostcode }}</p>
    <p>{{ recipientCountry }}, {{ recipientComplement }}</p>
    <br />
    <p>The order is ready to be collected</p>
</p>
           
