<strong>Hi, {{ deliverymanName }}</strong>
<p>The order {{orderId}} has been canceled</p>
           

           {{!-- , {{ recipientStreet }}
    <spam> {{ recipientCity }}, {{ recipientPostcode }}</spam>
    <spam> {{ recipientCountry }}
    <spam> {{ recipientComplement }} --}}